<div class="col-md-offset-2 col-md-8 col-xs-12" style="background-color: white;padding: 0" ng-click="isCollapsed = !isCollapsed" ng-show="teams">
    <div class="col-xs-6" ng-repeat="conf in teams | unique: 'conferenceid'" style="padding: 0">
        <div class="col-xs-3 list" ng-repeat="division in teams | filter: { conferenceid: conf.conferenceid } | unique: 'divisionid' | orderBy: 'divisionname'" style="padding: 3px">
            <div style="padding-bottom: 3px;">
                <h4 style="font-family: 'Open Sans'; cursor: pointer; font-size: 0.95em; text-align: center"><b>{{conf.conferenceabbreviation}} {{division.divisionname}}</b></h4>
            </div>
            <div ng-repeat="team in teams | filter: { conferenceid: conf.conferenceid, divisionid: division.divisionid} | orderBy: 'teamlocation'" collapse="isCollapsed">
                <a ui-sref="{{sport}}({ teamid : {{team.teamid}} })" class="team-link">
                    <img ng-src="{{team.teamimage | lowercase}}" alt="{{team.teamlocation}} {{team.teamnickname}}" class="team-logo-small" />
                    <span class="team-name hidden-xs visible-md-*">{{team.teamlocation}}</span>
                </a>
            </div>
        </div>
    </div>
</div>